<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B603E45D183AA453004F84D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B603E47E183AA453004F84D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B66085431848E2F500686F25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
